@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');


@keyframes expandir{
	from{
		width: 40%;
	}
	to{
		width: 96%;
	}
}

@keyframes diminuir{
	from{
		width: 96%;
	}
	to{
		width: 40%;
	}
}

@keyframes digitando{
	from{
		width: 0;
	}
	to{
		width: 100%;
	}
}

@keyframes aparecer{
	from{
		opacity: 0;
	}
	to{
		opacity: 100;
	}
}

@keyframes slideInRight{
	from{
		transform: translateX(-100%);
	}
	to{
		transform: translateX(0%);
	}
}


html,body{
	height:  100%;
}
html{
	background-color: #0066ff;
}

hr{
	border-color: black;
}
*{	
	margin: 0;
	padding: 0;
}
#container{
	width: 100%;
	height: 100%;
}
#container-header{
	width: 100%;
	margin-top: 1%;
	text-align: center;
}
#container-nav{
    width: 100%;
	text-align: center;
	font-family: 'Lato',sans-serif;
}

.cabecalho{
	color: white;
	width: 68%;
	text-shadow:7px 7px 0px black ;
	text-align: center;
	margin-left: 17%;
	font-size: 400%;
	font-family: 'Outfit', sans-serif;
}
.navegador {
	color: black;
	text-align: center	;
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.navegador a{
	background-color: white;
	color: black;
	font-size: 140%;
	text-decoration: none;
	border: 2px solid black;
}

.secao{
	text-align: center;
}

.comeco,.meio,.atual{
	font-size: 400%;
	margin-top: 13%;
	color: white;
	text-shadow: 5px 5px 0px black;
	font-family: 'Righteous', cursive;
}
#mais1,#mais2,#mais3{
	margin-top: 12%;
	font-size: 250%;
	font-family: 'Prompt';
	color: white;
	cursor: pointer;
}
#linha1,#linha2,#linha3,#linha4,#linha5,#linha6,#linha7,#linha8,#linha9,#linha10,#linha11,#linha12,#linha13,#linha14,#linha15,#linha16,#linha17,#linha18,#linha19,#linha20,#linha21,#linha22{
	display: none;
	font-family: 'Prompt' ;
	color: white;
	overflow: hidden;
	margin: 0 auto;
	white-space: nowrap;
	width: 0;
  	letter-spacing: .15em;
  	animation: digitando 3.5s steps(40, end);
  	animation-fill-mode: forwards;
}

#linha1{
	animation-delay: 1s;
}
#linha2{
	animation-delay: 3s;
}
#linha3{
	animation-delay: 6s;
}
#linha4{
	animation-delay: 10s;
}
#linha5{
	animation-delay: 14s;
}
#linha6{
	animation-delay: 17s;
}
#linha7{
	animation-delay: 19.5s;
}
#linha8{
	animation-delay: 22s;
}
#linha9{
	animation-delay: 25s;
}

#linha10{
	margin-top: 4%;
	animation-delay: 1s;
}
#linha11{
	animation-delay: 4s;
}
#linha12{
	animation-delay: 6s;
}
#linha13{
	animation-delay: 9s;
}
#linha14{
	animation-delay: 12s;
}
#linha15{
	animation-delay: 1s;
}
#linha16{
	animation-delay: 3s;
}
#linha17{
	animation-delay: 6s;
}
#linha18{
	animation-delay: 9s;
}
#linha19{
	animation-delay: 12s;
}
#linha20{
	animation-delay: 15s;
}
#linha21{
	animation-delay: 18s;
}

#linha22{
	animation-delay: 21s;
}

#X,#X2,#X3{
	display: none;
	cursor: pointer;
	color: white;
  	font-size: 36px;
}



#container-pai1,#container-pai2,#container-pai3{
	margin-top: 10%;
	width: 100%;
	height: 40%;	
}
#container-pai1,#container-pai2,#container-pai3{
opacity: 0;
transition: opacity 0.5s;
}
#container-texto1{
	float: left;
	width: 57%;
	height:  100%;
	text-align: center;
}
#container-texto2{
	float: right;
	width: 57%;
	height:  100%;
	text-align: center;
}
#container-texto3{
	float: left;
	width: 57%;
	height:  100%;
	text-align: center;
}
#container-section1{
	float: right;
	width:  40%;
	height: 100%;
	border: 1px solid white;
	box-shadow: 2px 2px;
	margin-right: 2%;
	background-color: black;

}
#container-section2{
	clear: left;
	width:  40%;
	height: 100%;
	border: 1px solid white;
	box-shadow: 2px 2px;
	background-color: black;
	margin-left: 2%;
}
#container-section3{
	float: right;
	width:  40%;
	height: 100%;
	border: 1px solid white;
	box-shadow: 2px 2px;
	background-color: black;
	margin-right: 2%;
}

/* CSS LINGUAGEM */

#html_linguagem,#corpo_linguagem{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#html_linguagem{
	background-color: slategrey;
}

#container_linguagem{
	width: 100%;
	height: 100%;
}

#container-cabecalho_linguagem{
	text-align: center;
	width: 100%;
	margin-left: 8%;
}

#container-nav_linguagem{
	float: left;
	height: 100%;
	margin-top: 14%;
	animation: slideInRight 1s forwards;
}
#container-nav_linguagem a{
	color: black;
	white-space: nowrap;
	background-color: white;
	text-decoration: none;
	font-size: 200%;
	border: 2px solid black;
}

#container-nav_linguagem a:hover{
	color: white;
	background-color: black;
}
#http{
	margin-top: 2%;
}

#cabecalho_linguagem{
	width: 100%;
	font-family: 'Rubik';
	font-size: 28px;
}

#conteudo_linguagem{
	margin-top: 1%;
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
	font-size: 18px;
}

#oq_linguagem,#linguagem{
	width: 68%;
	background-color: black;
	color: white;
	display: inline-block;
}


#inicio_linguagem{
	display: inline-block;
	width: 68%;
	height: auto;
	border: 1px solid black;
	box-shadow: 5px 5px;
	background-color: white;
}

li{ 
	text-align: left;
	margin-left: 2%;
}

img{
	width: 3%;
}

#meio_linguagem{
    display: inline-block;
	width: 68%;
	height: 68%;
	border: 1px solid black;
	box-shadow: 5px 5px;
	background-color: white;
}

/* CSS HTTP */

#html_http,#corpo_http{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#html_http{
	background-color: slategrey;
}

#container_http{
	width: 100%;
	height: 100%;
}

#container-cabecalho_http{
	text-align: center;
	width: 100%;
	margin-left: 8%;
}

#container-nav_http{
	float: left;
	height: 100%;
	margin-top: 14%;
	animation: slideInRight 1s forwards;
}
#container-nav_http a{
	color: black;
	white-space: nowrap;
	background-color: white;
	text-decoration: none;
	font-size: 200%;
	border: 2px solid black;
}

#container-nav_http a:hover{
	color: white;
	background-color: black;
}
#http_m{
	margin-top: 2%;
}

#cabecalho_http{
	width: 100%;
	font-family: 'Rubik';
	font-size: 28px;
}

#conteudo_http{
	margin-top: 1%;
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
	font-size: 18px;
}

#oq_http,#http{
	width: 68%;
	background-color: black;
	color: white;
	display: inline-block;
}


#inicio_http{
	display: inline-block;
	width: 68%;
	height: auto;
	border: 1px solid black;
	box-shadow: 5px 5px;
	background-color: white;
}

li{ 
	text-align: left;
	margin-left: 2%;
}

img{
	width: 3%;
}

#meio_http{
    display: inline-block;
	width: 68%;
	height: 68%;
	border: 1px solid black;
	box-shadow: 5px 5px;
	background-color: white;
}

table{
	border: 1px solid black;
}