@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');





/* ---- Animações ---- */
@keyframes fade{
	from {
		opacity: 0
	}

	to{
		opacity: 1;
	}
}

@keyframes slideInLeft {
    0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
       }
}

@keyframes slideInRight {
    0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0);
       }
}

@keyframes slideInUp {
    0% {  

          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
       }
}


/* ---- Animações ---- */

/* ---- Estilo --- */

*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto Slab";

}
body{
	overflow-x: hidden;
}
#divcabecalho{
	text-align: center;
}

#cabecalho{
	background-color:  black;
	background-size:  cover;
	width:  100%;
	animation: 1s ease-out 0s 1 slideInLeft;
	text-align:  center;
}
#cabecalho img{
	border:  2px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius:  50%;
}

#titulo{
	color: white;
	text-align: center;
	font-size:  48px;
	margin-bottom: 0;
}

#subtitulo{
	color: white;
	text-align: center;
	font-size:  32px;
	margin-bottom: 0;

}


#bemvindo{
	text-align:  center;
	font-weight: bold;
	font-size:  36px;
	animation: 1s ease-out 0s 1 slideInRight;
}

#divdadiv{
    width: 100%;
}

	

section{
	border: 1px solid black;
	margin: 0 auto;
	width: 800px;
	height:  500px;
	text-align: center;
	border-spacing: 10px;
	box-shadow: 1px 1px 10px;
}

#divinfo,#divproj,#divexp{
	display: none;
	width: 100%;
	height: 510px;
}
#basico h1:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid black;
}
#profissional h1:hover{
    cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid black;
}
#tituloprojetos h1:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid black;
}

#informaçoes{
	animation: 0.5s ease-out 0s 1 slideInRight, fade 1s;
	transform: translateY(-999%);
	animation-fill-mode: forwards;
	font-size: 28px; 

}
#experiencias h4,#experiencias p{
	text-align: justify-all;
}
#experiencias{
	animation: 0.5s ease-out 0s 1 slideInRight, fade 1s;
	transform: translateY(-999%);
	animation-fill-mode: forwards; 
	font-size: 18px;
	list-style-position: inside; 
}
#projetos{
	animation: 0.5s ease-out 0s 1 slideInRight, fade 1s;
	transform: translateY(-999%);
	animation-fill-mode: forwards;
	list-style-position: inside;
	text-align:  left;
}

#projetos hr{
	animation: none;
}

#projetos a{
	font-size: 24px;
	text-decoration: none;
	color: black;
}

#basico,#profissional,#tituloprojetos{
 	animation: fade 1s, slideInRight 1s;
 	width: 80%;
 	text-align: center;
 	margin: 0 auto;
 	background-color: black;
 	color: white;
 	margin-bottom: 10px;
}
button{
	animation: 1s ease-out 0s 1 slideInLeft;
	transform: translateY(-999%);
	animation-fill-mode: forwards;	
	height: 100px;
	float:  left;
	border: none;
	font-size: 20px;
  	cursor: pointer;
  	background-color: #111;
  	color: white;
}

#divrodape{
	display:block;
}

footer{
	float:right;
	animation: 1s ease-out 0s 1 slideInLeft;
}

hr{
	animation: 1s ease-out 0s 1 slideInLeft;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .linkedin,.instagram{
	vertical-align: middle;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}


/* ---- Estilo --- */

/* ---- Responsividade --- */

/* ---- Tablet --- */
@media (min-width: 767px) {
  .#titulo {
    font-size: 4em;
  }
  #divsection {
    margin-bottom: 0;
  }
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (max-width: 860px) {
	html{
		overflow-x: hidden;
	}

  #cabecalho {
    height: auto;
  }
  #titulo {
    font-size: 2em;
  }

#divsection{
	display: block;
	margin: auto;
}

section{
	width: 90%;
	margin:auto;
	display: block;
	margin-bottom: 7px;
	text-align: center;
}
#informaçoes{
	font-size: 18px;
}
#experiencias{
	font-size: 12.9px;
}
#projetos a{
	font-size: 22px;
}

button{

 position: sticky;
 color: solid white;

}
  .sidenav {
  	padding-top: 15px;
  }
  .sidenav a {
  	font-size: 15px;
  }
}

@media (width: 320px) and (height: 568px){
	section{
		font-size: 13px;
	}
}


/* ---- Tela Grande ----*/


/* ---- Responsividade ---- */
